[Unit]
Description=phone
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u phone.py
WorkingDirectory=/home/pi/1MR-Phone
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
